<h1>HELLO THIS IS SUPER HERO PAGE</h1>
<h1><%= params[:team][:name] %></h1>
<h2>Team Motto: <%= params[:team][:motto] %></h2>

<h2>Hero 1</h2>
<h2>Hero Name: <%= params[:team][:members][0][:name] %></h2>
<p>Hero Power: <%= params[:team][:members][0][:power] %></p>
<p>Hero Biography: <%= params[:team][:members][0][:bio] %></p>

<h2>Hero 2</h2>
<h2>Hero Name: <%= params[:team][:members][1][:name] %></h2>
<p>Hero Power: <%= params[:team][:members][1][:power] %></p>
<p>Hero Biography: <%= params[:team][:members][1][:bio] %></p>

<h2>Hero 3</h2>
<h2>Hero Name: <%= params[:team][:members][2][:name] %></h2>
<p>Hero Power: <%= params[:team][:members][2][:power] %></p>
<p>Hero Biography: <%= params[:team][:members][2][:bio] %></p>

